<h1>Edit Image</h1>

<form action="/images/new" method: 'post'>
    <input name="url" type="text" placeholder: "Image URL">
    <input name="location" placeholder= "City, Country" type="text">
    <button>Edit Image</button>
</form>