<h1>Edit Image</h1>

<form action="/images/<%= image.id %>?_method=PATCH" method: 'post'>
    <input name="url" type="text" value="<%= image.url %>" placeholder: "Image URL">
    <input name="location" value="<%= image.location %>"placeholder= "City, Country" type="text">
    <button>Edit Image</button>
</form>