<% images.forEach((e) => { %>
    <div><a href='/images/<%= e.id %>'><img src="<%= e.url %>" /></a></div>
<%})%>

<!-- /views/index.ejs -->
<div class = "home-container">
    <h1>Vacation Finder</h1>   
</div>
<div class = "gallery-image-container">
    
</div>

