<h1>Add a new destination</h1>

<form action="/images/new" method="POST">
    <input name="url" type="text" placeholder: "Image URL">
    <input name="location" placeholder= "City" type="text">
    <button>Add Image</button>
</form>