<!-- flsh welcome back message -->
<!-- <% if(message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
<% } %> -->
<div class="page-header">
    <h3><%=user.name %></h3>
</div>
<div class="row">
        <div class="well">
            <p>
                <strong>email</strong>: <%= user.email %>            
            </p>              
        </div>
</div>
<div class = "profile-pic">
    <img src="http://www.clker.com/cliparts/B/R/Y/m/P/e/blank-profile-hi.png" alt="profile pic" height="180" width="165" />
</div>