<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="<%= image.url %>" alt="First slide">
      </div>
    </div>
  </div>
  <h2><%= image.location %></h2>
  <a href="/images/<%= image.id%>/edit">Edit</a>
  <form action="/images/<%= image.id%>/delete?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>