/* General Layout CSS */
body {
    background-color: #222629;
}
h1, h2, h3, p, label, .well {
    color: gainsboro;
    font-family: 'Montserrat';
}
/* END General Layout CSS */
/* Form CSS */
.form-container {
    max-width: 480px;
    margin: 0 auto;
    padding: 30px;
}
form {
    padding: 20px;
}
.btn {
    padding: 6px 9px;
    margin: 18px;
}
/* END Form CSS */
.container {
    text-align: center;
    margin: 30px 170px;
}
/* HOME CSS */
/* .gallery-image-container {
    display: inline-block;
    max-width: 80%;
} */
.card-deck {
    padding: 10px;
}
/* Profile CSS */
.well {
    text-align: center;
    margin: 0 auto;
}

/* .profile-pic {
    
} */
.page-header {
    margin: 0 auto;
}
/* END Profile CSS */
/* Navigation Bar CSS */
nav {
    user-select:none;
}
.nav-text {
    color: white;
}
nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: right;
    vertical-align: middle;
    font-size:24px;
    color: white;
    padding-left: 10px;
}

.main-menu:hover,nav.main-menu.expanded {
    width:180px;
}

.main-menu {
    opacity: .75;
    background:#4dced0;
    /* background: #43a4a6; */
    position:fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    transition:width .05s linear;
    transform: translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:inline-block;
    width:160px;
    text-align: left;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    transform:translateZ(0) scale(1,1);
    transition:all .1s linear; 
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:right;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Montserrat', sans-serif;
    padding-left: 25px;   
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}
/* END Navigation Bar CSS */

/* SHOW VIEW - IMAGE */

.wrapper{
    display: flex;
}
/* SHOW VIEW - CARDS */

.card-img-top{
    background-color: #222629;
    padding: 0;
    border: none;
}

.card-text{
    font-size: 14px;    
    width: 130px;
    color: #4dced0;
    text-align: left;
}
.show-btns {
    text-align: center;
}


/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
	
	.card-deck-wrapper {margin-right:0;margin-left:0;}
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	}
  
  .card-deck .card:not(:first-child) {
    margin-left: 0px;
    }
  
}
#show-card {
    margin: 0 auto;
}
.wrapper{
    display: block;
}
#mapFrame {
    text-align: center;
    margin: 0 auto;
}
#edit-btn {
    font-size: 20px;
    color: teal;
}
.secondrow {
    margin-top: 20px;
}
#profile-cards {
    max-width: 50%;
    margin: 0 auto;
}